@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-image: url("backgroundimage24.png");
}

.App-header {
  /* background-color: #ffffff; */
  /* min-height: 25vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.input-wrap {  
  width: 50vw;
  margin: 5vh;
}

.loading-wrap {
  /* margin-bottom: 5vh; */
  display:flex;
  justify-content: center;
  padding-top: 2vh;
}

.title-wrap {
  color: black;
  font-size: 1rem;
  margin: 5vh;
}

.text-wrap {
  color: #272727;
  font-size: 0.6rem;
  margin: 2.5vh;
}

.text-searchedfor {
  color: #242424;
  font-size: 0.75rem;
  margin: 2.5vh;
  background-color: rgba(255, 255, 255, 1);
}

.recipe {
  /* margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; */
  margin: 0.25rem;
  cursor: pointer;
  position: relative;
}

.body {
  /* height:calc(100vh-3.5rem); */
  width: 100%;
  overflow: visible;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  /* padding-top: 0.5rem; */
}

.favorites {
  overflow:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.results {
  /* height:calc(100vh-3.5rem); */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 0.5rem; */
}

.image-wrap {
  /* object-fit: cover; */
  width: 25%;
  justify-content: center;
  /* align-items: center; */
  /* position: absolute; */
  align-self: center;
}

.recipe-title {
  display: none;
  position: absolute;
  /* width: 100%-10px; */
  bottom:4px;
  left:0;
  right: 0;
  background: rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 0.6rem;
  padding: 0.3rem;
  overflow: hidden; /* this and the two below are together and good for overflowing text*/
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe:hover .recipe-title {
  display: block;
}

html{ /*mobile*/
  font-size:24px;
}

@media only screen and (min-width: 600px){
  html { /*tablet*/
      font-size:28px;
  }
}

@media only screen and (min-width: 768px){
  html { /*desktop*/
      font-size:32px;
  }
}